**/*.spec.*
*.log
.circleci
.codeclimate.json
.dependabot
.editorconfig
.git
.gitignore
.eslintrc
.github
.history
.idea
.nyc_output
.prettierignore
.prettierrc.json
.travis.yml
.yarnrc.yml
.vscode
.yarn
README.pdf
build/docs
coverage
jest.config.js
jest.html.config.js
src
test
tsconfig.json
tsconfig.module.json
tslint.json
yarn.lock
